.card {
  background-color: tomato;
}

.name {
  background-color: aqua;
  margin: 2px
}

.cardDetails{
  background-color: #6ead36;
  margin: 2px
}

.briefInfo{
  background-color: #c4c463;
  margin: 2px
}

.temperatures{
  background-color: #97427b;
  margin: 2px
}

.additionalInfo{
  background-color: #aa5454;
  margin: 2px
}