@import "src/utils/variables";

@media (max-width: $breakpoint) {
  .infoContainer {
    display: none;
  }
}

.card {
  font-family: $usual-text;
  background-color: $pink;
  border-radius: $border-radius;
  padding: 0.5rem;
  font-size: 25px;
}

.name {
  font-family: $head-text;
  font-size: 30px;
}

.cardDetails {
  display: flex;
  padding: 1rem;
}

.picContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer {
  list-style-type: none;
}
